!!!
%html{lang: "en", manifest:"/offline.appcache"}
  %head
    %meta{charset: "utf-8"}/
    %title
      = site.name
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "Personal portfolio and blog of Sascha Faun Winter", name: "description"}/
    %meta{content: "Sascha Faun Winter", name: "author"}/
    = stylesheet_link_tag "application", media: :all
    = stylesheet_link_tag "print", media: :all
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Roboto:400,900", media: :all
    //[if lt IE 9]
    =javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = favicon_tag '/assets/ico/favicon.ico'
    %link{href: "/assets/ico/apple-touch-icon-144x144-precomposed.png", rel: "apple-touch-icon-precomposed", sizes: "144x144"}/
    %link{href: "/assets/ico/apple-touch-icon-114x114-precomposed.png", rel: "apple-touch-icon-precomposed", sizes: "114x114"}/
    %link{href: "/assets/ico/apple-touch-icon-72x72-precomposed.png", rel: "apple-touch-icon-precomposed", sizes: "72x72"}/
    %link{href: "/assets/ico/apple-touch-icon-precomposed.png", rel: "apple-touch-icon-precomposed"}/
    %link{href: "https://plus.google.com/u/0/112681783906373636049", rel: "author"}

  %body
    = partial :header

    .container
      - if request.path == "index.html"
        = yield
      - else
        .row
          .col-lg-12.col-md-12.col-sm-12
            - if is_blog_article?
              %h1.page-title
                = current_article.title
              %aside.attribution
                by
                = link_to "Sascha Faun Winter", 'https://twitter.com/faunzy', rel: 'me'
            = yield
        .row
          .col-lg-12.col-md-12.col-sm-12
            = partial :sidebar

    %script{src: "//code.jquery.com/jquery-2.1.1.min.js", type: "text/javascript"}
    = javascript_include_tag 'application'
    :javascript
      // Google analytics
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-11110028-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      // Appcache brute-force refresh
      if (window.applicationCache) {
        applicationCache.addEventListener('updateready', function() {
          window.location.reload();
        });
      }
